.nav{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: clamp(80%, 1220px, 100%);
    color: #151F37;
    margin-top: 2rem;
}

.nav_left{
    display: flex;
    align-items: center;
}
.nav_left_logo{
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    border-right: 1px solid #6b728050;
    padding-right: 2rem;
}
.nav_left_menu{
    display: flex;
    color: #6B7280;
}
.nav_left_menu_item{
    margin-left: 2rem;
    cursor: pointer;
}
.nav_left_menu_item:hover{
    color: #2e333f;
}
.nav_right{
    display: flex;
    align-items: center;
}
.nav_right > div{
    margin-left: 2rem;
}
/* toggle start */
.switch {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 40px;
    /* margin-left: 20px; */
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFC145;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}
input:checked + .slider {
    background-color: #151F37;
}
.slider::before {
    position: absolute;
    content: '\f185';
    content: url('../assets/img/Group\ 5996.png');
    background-size: cover;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: white;
    height: 32px;
    width: 32px;
    left: 4px;
    border-radius: 50%;
    bottom: 4px;
    background-color: #151F37;
    -webkit-transition: .4s;
    transition: .4s;
}
input:focus + .slider {
    box-shadow: 0 0 1px #FFC145;
}

input:checked + .slider::before {
    /* content: '\f186'; */
    content: '\263E';
    -webkit-transform: translateX(31px);
    -ms-transform: translateX(31px);
    transform: translateX(31px);
    background-color: #FFC145;
}
/* toggle end */
.nav_right_connectwallet{
    background-color: #151F37;
    color: #fff;
    padding: 1rem;
    border-radius: 8px;
    cursor: pointer;
}
.nav_right_connectwallet:hover{
    background-color: #22335a;
}

@media screen and (max-width: 1170px){
    .nav{
        padding: 0 1.875rem;
    }
}

@media screen and (max-width: 896px)  {
    .nav{
        display: none;
    }
}