.rightcore{
  width: 60%;
}
.rightcore_container{
  width: 100%;
  padding: 0 4.75rem;
  font-family: "Space Grotesk", sans-serif;
}
.rightcore_title{
  color: #fff;
  font-size: 3.25rem;
  margin: 0;
  line-height: 1.4;
}
.rightcore_title_nftinvestment{
  color: #D6F379;
  background: url('../assets/img/line.svg') no-repeat bottom;
}
.rightcore_title_nftinvestment::before{
  content:"\a";
  white-space: pre;
}
.rightcore_detail{
  color: #959FB2;
  /* font-family: "Space Grotesk", sans-serif; */
  line-height: 1.6;
  margin: 0;
  margin: 2rem 0;

}
.rightcore_button{
  color: #151F37;
  cursor: pointer;
  background-color: #FFC145;
  padding: 0.75rem 1.125rem;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 9px 26px 0 #FFC14544;
  font-size: 1rem;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  
}
.rightcore_button:hover{
  box-shadow: 0 9px 28px 0 #ffc14585;
  background-color: #fcb72d;
}

.rightcore_startforyou{
  color: #151F37;
  margin-top: 11rem ;
  /* font-family: "Space Grotesk", sans-serif; */
}
.rightcore_startforyou_title{
  font-size: 1.25rem;
}
.rightcore_startforyou_items{
  display: flex;
  justify-content: space-between;
}
.rightcore_startforyou_items_container{
  position: relative;
}
.rightcore_startforyou_items_value{
  font-size: 3rem;
  font-weight: 700;
}
.rightcore_startforyou_items_value::before{
  z-index: -1;
  content: '';
  position: absolute;
  top: 40%;
  left: 0;
  width: 110%;
  height: 0.75rem;
  background-color: #D6F379;
  color: #D6F379;
}
.rightcore_startforyou_items_text{
  color: #6B7280;
  margin-top: -0.25rem;
}